.host-app-footer-container {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  background-color: white;
  border-top: 1px solid gray;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}