.host-app-home-container {
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center;     /* vertical centering */
  font-size: 1.5rem;
  font-weight: bold;
  height: 100%;
}
