.host-app-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white; /* or your background */
  border-bottom: 1px solid gray;
}

.host-app-header-name {
  cursor: pointer;
  transition: color 0.3s ease;
  margin: 0;
}

.host-app-header-name:hover {
  color: royalblue;
}

.host-app-header-login-button {
  color: royalblue;
  padding: 5px 10px;
  border: 1px solid royalblue;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.host-app-header-login-button:hover {
  background-color: royalblue;
  color: white;
  box-shadow: 0 0 5px rgba(65, 105, 225, 0.5);
}