.host-app-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 5px 5px;
}

.host-app-header-name {
  cursor: pointer;
  transition: color 0.3s ease;
  margin: 0;
}

.host-app-header-name:hover {
  color: royalblue;
}

.host-app-header-login-button {
  color: royalblue;
  padding: 5px;
  border: 1px solid royalblue;
  border-radius: 5px;
  transition: all 0.3s ease; /* Smooth transition */
}

.host-app-header-login-button:hover {
  background-color: royalblue;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(65, 105, 225, 0.5); /* Optional glow effect */
}
