.host-app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Scrollable Main Content */
.host-app-main-body-container {
  flex: 1;
  overflow-y: auto;
  padding: 1rem 0; /* Optional: spacing */
}